{"swagger":"2.0","info":{"title":"ATQ Test Orchestration Director","description":"REST Interface for Test queuing and orchestration","version":""},"host":"atq.mtenrero.com","basePath":"/api","schemes":["http"],"consumes":["application/json"],"produces":["application/json"],"paths":{"/databind/list":{"get":{"tags":["databind"],"summary":"list databind","description":"List of uploaded and available files","operationId":"databind#list","produces":["application/atq.databind.upload+json; type=collection"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AtqDatabindUploadCollection"}},"204":{"description":"No Content"}},"schemes":["http"]}},"/databind/upload":{"post":{"tags":["databind"],"summary":"upload databind","description":"Upload new zipped file for later usage with a Task","operationId":"databind#upload","produces":["application/atq.databind.upload+json"],"parameters":[{"name":"file","in":"formData","description":"Zipped File","required":true,"type":"file"}],"responses":{"200":{"description":"The file was uploaded succesfully","schema":{"$ref":"#/definitions/AtqDatabindUpload"}},"415":{"description":"The file doesn't have a valid extension","schema":{"$ref":"#/definitions/AtqDatabindUploadError"}},"500":{"description":"Response when there are an error uploading the file","schema":{"$ref":"#/definitions/AtqDatabindUploadError"}}},"schemes":["http"]}},"/monitoring/ping":{"get":{"tags":["monitoring"],"summary":"ping monitoring","description":"Endpoint for pinging and healthcheck purposes","operationId":"monitoring#ping","produces":["text/plain"],"responses":{"200":{"description":"Pong"}},"schemes":["http"]}},"/swarm/":{"get":{"tags":["swarm"],"summary":"status swarm","description":"Response with the details of the swarm","operationId":"swarm#status","produces":["text/plain"],"responses":{"200":{"description":"Details of the Docker Swarm cluster"}},"schemes":["http"]}},"/task/":{"put":{"tags":["task"],"summary":"create task","description":"Creates a new Task in the Swarm according with the config provided in the JSON body","operationId":"task#create","produces":["application/atq.task+json"],"parameters":[{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/TaskPayload"}}],"responses":{"200":{"description":"Task creation in progress","schema":{"$ref":"#/definitions/AtqTask"}},"417":{"description":"The Task definition has errors or it's not complete","schema":{"$ref":"#/definitions/AtqTask"}}},"schemes":["http"]}},"/task/{id}":{"get":{"tags":["task"],"summary":"inspect task","description":"Get Task's details","operationId":"task#inspect","produces":["application/atq.task+json"],"parameters":[{"name":"id","in":"path","description":"Task's UUID","required":true,"type":"string"}],"responses":{"200":{"description":"Successful response containing Task data in JSON format","schema":{"$ref":"#/definitions/AtqTask"}},"404":{"description":"The given ID doesn't not exist"},"500":{"description":"Response when the Task has not been created correctly","schema":{"$ref":"#/definitions/AtqTask"}}},"schemes":["http"]},"delete":{"tags":["task"],"summary":"delete task","description":"Deletes the Task specified and its components","operationId":"task#delete","parameters":[{"name":"id","in":"path","required":true,"type":"string"}],"responses":{"204":{"description":"Successfuly deleted"},"404":{"description":"The given ID doesn't not exist"},"500":{"description":"Docker Engine error deleting the Task generated container infrastructure"}},"schemes":["http"]}}},"definitions":{"AtqDatabindUpload":{"title":"Mediatype identifier: application/atq.databind.upload+json; view=default","type":"object","properties":{"id":{"type":"string","description":"Upload ID","example":"46feb425-b8c5-4b89-9a45-8993e7fb5b47","format":"uuid"}},"description":"User upload files response (default view)","example":{"id":"46feb425-b8c5-4b89-9a45-8993e7fb5b47"}},"AtqDatabindUploadCollection":{"title":"Mediatype identifier: application/atq.databind.upload+json; type=collection; view=default","type":"array","items":{"$ref":"#/definitions/AtqDatabindUpload"},"description":"AtqDatabindUploadCollection is the media type for an array of AtqDatabindUpload (default view)","example":[{"id":"46feb425-b8c5-4b89-9a45-8993e7fb5b47"},{"id":"46feb425-b8c5-4b89-9a45-8993e7fb5b47"}]},"AtqDatabindUploadError":{"title":"Mediatype identifier: application/atq.databind.upload+json; view=error","type":"object","properties":{"error":{"type":"string","description":"Error message if errored","example":"Voluptatibus exercitationem culpa."}},"description":"User upload files response (error view)","example":{"error":"Voluptatibus exercitationem culpa."}},"AtqTask":{"title":"Mediatype identifier: application/atq.task+json; view=default","type":"object","properties":{"id":{"type":"string","description":"Task ID","example":"aea50b75-0e8a-49e6-a0bd-9ef451ec1d45","format":"uuid"},"status":{"type":"string","description":"Status of the Task","example":"started","enum":["initializing","started","stopped","finished","errored"]}},"description":"Task description (default view)","example":{"id":"aea50b75-0e8a-49e6-a0bd-9ef451ec1d45","status":"started"}},"ServicePayload":{"title":"ServicePayload","type":"object","properties":{"alias":{"type":"string","description":"Service alias, this will identify the Service","example":"ALIAS"},"args":{"type":"array","items":{"type":"string","example":"Voluptatem vel."},"description":"Arguments to be passed to the container","example":["Voluptatem vel."]},"fileid":{"type":"string","description":"ID of the Zipped contents that will be mounted and accesible inside the container, PREVIOUSLY UPLOADED","example":"da33f94e-b51c-4c0d-852b-483a217de142","format":"uuid"},"image":{"type":"string","description":"Docker base image to attach to Service","example":"hello-world"},"replicas":{"type":"integer","description":"Amount of replicas to be deployed. (1 by default)","example":6083880635322279148,"format":"int64"},"tty":{"type":"boolean","description":"Interactive shell requirement","example":true}},"example":{"alias":"ALIAS","args":["Voluptatem vel."],"fileid":"da33f94e-b51c-4c0d-852b-483a217de142","image":"hello-world","replicas":6083880635322279148,"tty":true},"required":["image","alias"]},"TaskPayload":{"title":"TaskPayload","type":"object","properties":{"delay":{"type":"integer","example":1,"minimum":0},"master":{"$ref":"#/definitions/ServicePayload"},"waitCommand":{"$ref":"#/definitions/WaitCommand"},"worker":{"$ref":"#/definitions/ServicePayload"}},"example":{"delay":1,"master":{"alias":"ALIAS","args":["Voluptatem vel."],"fileid":"da33f94e-b51c-4c0d-852b-483a217de142","image":"hello-world","replicas":6083880635322279148,"tty":true},"waitCommand":{"command":"Aut ea ipsa praesentium.","expectedResult":"At aut numquam.","timeout":1630704420498288887},"worker":{"alias":"ALIAS","args":["Voluptatem vel."],"fileid":"da33f94e-b51c-4c0d-852b-483a217de142","image":"hello-world","replicas":6083880635322279148,"tty":true}}},"WaitCommand":{"title":"WaitCommand","type":"object","properties":{"command":{"type":"string","description":"Command to be executed","example":"Aut ea ipsa praesentium."},"expectedResult":{"type":"string","description":"Result expected","example":"At aut numquam."},"timeout":{"type":"integer","description":"Maximum seconds to wait until succesfull response","example":1630704420498288887,"format":"int64"}},"description":"Definition of a command to be executed","example":{"command":"Aut ea ipsa praesentium.","expectedResult":"At aut numquam.","timeout":1630704420498288887}}},"responses":{"NoContent":{"description":"No Content"}}}